body {
    min-height: 2000px;
}


/*
     jumbotron 

*/
.jumbotron {
    width: 100%;
    height: 300px;
    background-color: #fafafa;
    text-align: center;
}

.jumbotron-text {
    padding-top: 5rem;
}

/* article */

.article-container {
    padding: 20px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.article-container .aricle-list {
    width: 100%;
    background-color: #fff;
}

.article-container .aricle-list .article-body {
    padding: 20px;
}

.article-container .aricle-list .article-content__bodytext {
    padding: 10px;
}